body{
background-image: url(https://www.publicdomainpictures.net/pictures/40000/velka/red-balloon-clipart.jpg);  
background-size: 50%;
margin: 0;
font-size: 15px;
}


h1 {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 70px; 
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin-top: -5px;
  
}

li {
    font-family: Gadugi; 
    margin-right: 15px;  
    text-align: left;
    font-size: 12px;
}

#titleInstructions{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;

}

#InstructionButtoms{
    height: 350px;
    margin-top: -20px;
    margin-bottom: -10px;
}

#InstructionsCipherText{
    visibility: hidden;
    border: none;
    border-radius: 20px;
    background:black;
    color: #FFF;
    height: 320px;
    width: 320px;
    float: left;
}

#InstructionsCipher{ 
    text-align: center;
    border: none;
    border-radius: 20px;
    background: #FED83A;
    color: #FFF;
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 15px;
    margin-left: 10%;
}
#InstructionsQuestion{
    font-size: 25px;  
}

#InstructionsRefer{
    font-size: 15px;
}

#InstructionsDecipherText{
    visibility: hidden;
    text-align: left;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    background:black;
    color: #FFF;
    height: 320px;
    width: 320px;
    float: left;
}

#InstructionsDecipher{ 
    text-align: center;
    border: none;
    border-radius: 20px;
    background: #FED83A;
    color: #FFF;
    height: 200px;
    width: 200px;
    float: left;
}


#descriptionFooter {
    background-color: black;
    color: white;
    font-size:20px; 
    text-align: center;
    height: 30px;
    width: 100%;
    font-family: 'Courgette', cursive;
    margin-top: 100px;
    float:left;
    box-sizing: border-box;
}

#blockCipherAndDecifer{
    overflow: auto;
    box-sizing: border-box;
}

#TextToConvert {
    text-align:center;
    font-size: 25px;
    color: white;
    font-family: Gadugi;
    background-color: black;
    border-radius: 10px; 
    width: 33.3%; 
    height: 300px; 
    float: left;
    margin-right: 55px;
}

#message, #text {
    background: #FED83A;
    text-align:center; 

}


#TextToCipherOrDecipher {
    height: 200px;
    width: 200px; 
    text-align: left;
    border-radius: 5px;
    margin-top: -6px;
   
}


#buttonsAndOffset {
    color: white;
    text-align:center;
    font-family: Gadugi;          
    width: 25%;
    height: 300px;
    background-color: black; 
    border-radius: 10px;
    float: left;
    margin-right: 20px;
}

#buttonCipher {
    font-size: 25px; 
    text-align: center;
    border: none;
    border-radius: 20px;
    background: #FDCC00;
    color: #FFF;
    height: 70px;
    padding-left: 18px;
    padding-right: 18px;
    
}

#buttonDecipher {
    font-size: 25px;
    border: none;
    border-radius: 20px;
    background: #FDCC00;
    color: #FFF;
    height: 70px;
     
}

#OffsetZone{
font-size: 15px;
margin-bottom: 3px;
}

#nValue {
    text-align:center;
    height: 30px;
    width: 60px; 
    bottom: 10px;
    border: none;

}


#textResults {
    font-family: Gadugi;
    color: white;
    font-size: 25px;
    width: 33.3%;
    height: 300px;
    background-color: black; 
    border-radius: 10px; 
    float: left;
    margin-left: 38px;
}

#TextoAMostrar{
    text-align: justify;
    font-size: 14px;
    margin-left: 40px;
    margin-right: 40px;
}

/*
@media  only screen and (min-width: 320px) and (min-height: 568px){

    
li {
    font-size: 8px;
    margin-bottom: -2px;
}

#titleInstructions{
    font-size: 15px;

}

#InstructionButtoms{
    height: 200px;
    margin-top: -5px;
    margin-bottom: -5px;
}

#InstructionsCipherText{
    height: 200px;
    width: 200px;
}

#InstructionsCipher{ 
    margin-left: 20%;
    height: 80px;
    width: 80px;
}
#InstructionsQuestion{
    font-size: 15px;  
}

#InstructionsRefer{
    font-size: 8px;

}

#InstructionsDecipherText{
    height: 200px;
    width: 200px;
}

#InstructionsDecipher{ 
    height: 80px;
    width: 80px;
}

   
    #TextToConvert {
        font-size: 15px;
        margin-right: 10px;
        height: 200px;
    }

    #TextToCipherOrDecipher {
        font-size:10px;
        height: 100px;
        width: 80px; 
    }

    #descriptionFooter {
        font-size:10px; 
        height: 30px;
        margin-top:200px;
    }

    #buttonsAndOffset {        
        font-size: 10px; 
        width:85px;
        height: 200px;
        margin-right: 5px;
    }

    #buttonCipher {
        font-size: 15px; 
        height: 40px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 10px;   
    }
    
    #buttonDecipher {
        font-size: 15px;
        height: 40px;
        border-radius: 10px;     
    }

    #nValue {
        font-size: 15px;
        height: 20px;
        width: 40px; 
    }

    #textResults {
        font-size: 15px;
        height: 200px;
        margin-left: 5px;
    }
    
    #TextoAMostrar{
        font-size: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 414px) and (min-height: 736px){

    #TextToConvert {
        width: 142px;
    }

    #TextToCipherOrDecipher {
        font-size:10px;
        height: 100px;
        width: 100px; 
    }
    
    #buttonsAndOffset {        
        margin-left: 1px;
        margin-right: 5px;
    }
    #textResults {
        font-size: 15px;
        height: 200px;
        width: 142px;
        margin-left: 15px;
    }
    
    #TextoAMostrar{
        font-size: 20px;
        margin-right: 5px;
    }
    
    #descriptionFooter {
        font-size:20px; 
        height: 30px;
        margin-top: 430px;
    }
} 

@media only screen and (min-width: 375px) and (min-height: 667px){

    body{
        background-size: 80%;
    }

    #TextToConvert {
        font-size: 15px;
        margin-right: 20px;
        height: 200px;
    }

    #TextToCipherOrDecipher {
        font-size:10px;
        height: 100px;
        width: 100px; 
    }

    #descriptionFooter {
        font-size:10px; 
        height: 30px;
        margin-top:300px;
    }

    #buttonsAndOffset {        
        font-size: 10px; 
        height: 200px;
        margin-right: 10px;
    }

    #buttonCipher {
        font-size: 15px; 
        height: 40px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 10px;   
    }
    
    #buttonDecipher {
        font-size: 15px;
        height: 40px;
        border-radius: 10px;     
    }

    #nValue {
        font-size: 15px;
        height: 20px;
        width: 40px; 
    }

    #textResults {
        font-size: 15px;
        height: 200px;
        margin-left: 10px;
    }
    
    #TextoAMostrar{
        font-size: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
} 


@media only screen and (min-width: 780px)and (min-height: 820px){

    #TextToConvert {
        font-size: 20px;
        width: 250px;

    }

    #TextToCipherOrDecipher {
        font-size:15px;
        height: 100px;
        width: 150px; 
    }

    #descriptionFooter {
        font-size:18px; 
        height: 30px;
        margin-top:430px;
    }

    #buttonsAndOffset {        
        font-size: 15px; 
        width: 150px;
        margin-left: 45px;
        margin-right: 45px;
    }

    #textResults {
        font-size: 20px;
        width: 250px;
    }
    
    #TextoAMostrar{
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
   
}

@media only screen and (min-width: 780px) and (min-height: 1024px){

    #TextToConvert {
        font-size: 20px;
        width: 250px;

    }

    #TextToCipherOrDecipher {
        font-size:15px;
        height: 100px;
        width: 150px; 
    }

    #descriptionFooter {
        font-size:18px; 
        height: 30px;
        margin-top:600px;
    }

    #buttonsAndOffset {        
        font-size: 15px; 
        width: 150px;
        margin-left: 45px;
        margin-right: 45px;
    }

    #textResults {
        font-size: 20px;
        width: 250px;
    }
    
    #TextoAMostrar{
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media only screen and (min-width: 992px) {

} 

*/