body{
    background-image: url(https://www.publicdomainpictures.net/pictures/40000/velka/red-balloon-clipart.jpg);  
    overflow: auto; 
}

#titleAndDescription {
    text-align:center;
    font-size: 18px;
    font-family: Gadugi;
    
}

h1 {
    background-color: black;
    color: white;
    border-radius: 10px; 
    font-family: monospace;
}

/*img{
 size: 1em, 1em,1em,1em;
} */ 

#TextToConvert {
    text-align:center;
    font-size: 25px;
    color: white;
    font-family: Gadugi;
    background-color: black;
    border-radius: 10px; 
    width: 33.3%; 
    height: 300px; 
    float: left;
    margin-right: 55px;
}

#message {
    background: #c60405;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px; */

}

#TextToCipherOrDecipher {
    position: center;
    height: 200px;
    width: 200px; 
    text-align: left;
    border-radius: 5px;
   
}


#buttonsAndOffset {
    color: white;
    text-align:center;
    font-family: Gadugi;         
    font-size: 15px; 
    width: 25%;
    height: 300px;
    background-color: black; 
    border-radius: 5px;
    float: left;
    margin-right: 55px;
}

#buttonCipher {
    font-size: 25px; 
    border: none;
    border-radius: 5px;
    background: #c60405;
    color: #FFF;
    
}

#buttonDecipher {
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background: #c60405;
    color: #FFF;
     
}

#nValue {
    text-align:center;
    font-size: 25px;
    height: 30px;
    width: 60px; 
    position: center;
    bottom: 10px;
    border: none;

}

#text {
    text-align:center;  
    background: #c60405;
   /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

#textResults {
    font-family: Gadugi;
    color: white;
    font-size: 25px;
    width: 33.3%;
    height: 300px;
    background-color: black; 
    border-radius: 10px; 
    float: left;
}

#TextoAMostrar{
    text-align: justify;
    font-size: 14px;
    margin-left: 40px;
    margin-right: 40px;
}